@import '../../Utils/variable.scss';

.results {
  padding: 10px 16px 80px 16px;

  &__list {
    display: flex;
    flex-direction: column;
    width: 100%;

    &__count {
      color: rgba(154, 172, 179, 0.733);
      margin-bottom: 30px;
    }

    &__result {
      margin-bottom: 25px;

      &__title,
      &__description,
      &__url {
        margin: 0;
        padding: 0;
      }

      &__title {
        color: #cbe76f;
        font-size: 19px;
        font-weight: bold;
        margin-bottom: 10px;
      }

      &__url {
        cursor: pointer;
        color: #aff7e5;
        font-size: 13px;
        font-weight: 400;
        margin-top: 15px;
      }
    }
  }
}

@media (min-width: $minMediumLandscapeRange) {
  .results {
    padding: 10px 100px 80px 100px;

    &__list {
      width: 60%;
    }
  }
}
